page-profil {
.center
{
  text-align: center;
}

.red-icon
{
  color:#cc0000;
}
.green-icon
{
  color:#006600;
}
.yellow-icon
{
  color:#FFFF33;
}
.item-color-back
{
    background-color:#CCCC99;
}

}
