
<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button [navPush]="admin">Admin</button>
	<button ion-button [navPush]="connect">Connexion</button>
  <div padding>
	  <ion-segment [(ngModel)]="marche">
		<ion-segment-button value="offreCommerce">
		  Offre commerçant
		</ion-segment-button>
		<ion-segment-button value="offreParticulier">
		  Offre particulier
		</ion-segment-button>
		<ion-segment-button value="demandeParticulier">
		  Demande de particulier
		</ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="marche">
		<ion-list *ngSwitchCase="'offreCommerce'">
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
					<ion-thumbnail item-left>
						<img src="assets/img/thumbnail-totoro.png">
					</ion-thumbnail>
					<h2>{{ coupon.boutique }}</h2>
					<p>Reduction : {{ coupon.reduction }}</p>
					<button ion-button outline icon-left item-right>
						Je prends
					</button>
				</ion-item>
			</ion-list>
		</ion-list>

		<ion-list *ngSwitchCase="'offreParticulier'">
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
					<ion-thumbnail item-left>
						<img src="assets/img/thumbnail-totoro.png">
					</ion-thumbnail>
					<h2>{{ coupon.boutique }}</h2>
					<p>Reduction : {{ coupon.reduction }}</p>
					<button ion-button outline icon-left item-right>
						Je prends
					</button>
				</ion-item>
			</ion-list>
		</ion-list>
	  
		<ion-list *ngSwitchCase="'demandeParticulier'">
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
					<ion-thumbnail item-left>
						<img src="assets/img/thumbnail-totoro.png">
					</ion-thumbnail>
					<h2>{{ coupon.boutique }}</h2>
					<p>Reduction : {{ coupon.reduction }}</p>
					<button ion-button outline icon-left item-right>
						Je reponds
					</button>
				</ion-item>
			</ion-list>
		</ion-list>
	</div>
</ion-content>
