
<ion-header>
</ion-header>

<ion-content padding>
  <div padding>
	  <ion-segment [(ngModel)]="marche">
		<ion-segment-button value="offreCommerce">
		  Offre commerçant
		</ion-segment-button>
		<ion-segment-button value="offreParticulier">
		  Offre particulier
		</ion-segment-button>
		<ion-segment-button value="demandeParticulier">
		  Demande de particulier
		</ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="marche">
		<ion-list *ngSwitchCase="'offreCommerce'">
			<h3>Commerce</h3>
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
						{{ coupon }}
				</ion-item>
			</ion-list>
		</ion-list>

		<ion-list *ngSwitchCase="'offreParticulier'">
			<h3>Offre particulier</h3>
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
						{{ coupon }}
				</ion-item>
			</ion-list>
		</ion-list>
	  
		<ion-list *ngSwitchCase="'demandeParticulier'">
			<h3>Demande particulier</h3>
			<ion-searchbar (ionInput)="getCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of coupons">
						{{ coupon }}
				</ion-item>
			</ion-list>
		</ion-list>
	</div>
</ion-content>
