
<ion-header>
	<ion-navbar>
		<ion-title>Bons</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div padding>
	  <ion-segment [(ngModel)]="bons">
		<ion-segment-button value="mesBons">
		  Les miens
		</ion-segment-button>
		<ion-segment-button value="bonsDonnes">
		  Proposés
		</ion-segment-button>
		<ion-segment-button value="demandeBon">
		  Demander
		</ion-segment-button>
	  </ion-segment>
	</div>

	<div [ngSwitch]="bons">
		<ion-list *ngSwitchCase="'mesBons'">
			<h3>COUCOU MES BONS</h3>
			<ion-searchbar (ionInput)="getMesCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of mesCoupons">
						{{ coupon }}
						
				</ion-item>
			</ion-list>
		</ion-list>

		<ion-list *ngSwitchCase="'bonsDonnes'">
			<h3>COUCOU BONS DONNES</h3>
			<ion-searchbar (ionInput)="getMesCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of mesCoupons">
						{{ coupon }}
						
				</ion-item>
			</ion-list>
		</ion-list>
	  
		<ion-list *ngSwitchCase="'demandeBon'">
			<h3>COUCOU DEMANDER BONS</h3>
		</ion-list>
		
	</div>
</ion-content>
