
<ion-header>
	<ion-navbar>
		<ion-title>Bons</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div padding>
	  <ion-segment [(ngModel)]="bons">
		<ion-segment-button value="mesBons">
		  Les miens
		</ion-segment-button>
		<ion-segment-button value="bonsDonnes">
		  Proposés
		</ion-segment-button>
		<ion-segment-button value="demandeBon">
		  Demander
		</ion-segment-button>
	  </ion-segment>
	</div>

	<div [ngSwitch]="bons">
		<ion-list *ngSwitchCase="'mesBons'">
			<ion-searchbar (ionInput)="getMesCoupons($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of mesCoupons">
					<ion-thumbnail item-left>
						<img src="{{coupon.image}}">
					</ion-thumbnail>
					<h2>{{ coupon.nom }}</h2>
					<p>Reduction : {{ coupon.reduction }}</p>
					<button ion-button (click)="use(coupon)" color="secondary" outline icon-left item-right>
						Utiliser
					</button>
					<button ion-button (click)="donner(coupon)" outline icon-left item-right>
						Donner
					</button>
				</ion-item>
			</ion-list>
		</ion-list>

		<ion-list *ngSwitchCase="'bonsDonnes'">
			<ion-searchbar (ionInput)="getMesCouponsProposes($event)"></ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let coupon of mesCouponsProposes">
					<ion-thumbnail item-left>
						<img src="{{coupon.image}}">
					</ion-thumbnail>
					<h2>{{ coupon.nom }}</h2>
					<p>Reduction : {{ coupon.reduction }}</p>
					<button ion-button (click)="recuperer(coupon)" color="cool" outline icon-left item-right>
						Récupérer
					</button>
				</ion-item>
			</ion-list>
		</ion-list>

		<ion-list *ngSwitchCase="'demandeBon'">
			<br>
			<br>
			<br>
			<div>
				<h5>Je souhaite un bon de :</h5>
				<br>
				<ion-list>

					<ion-item>
						<ion-label>Choisir la boutique:</ion-label>
						<ion-select [(ngModel)]="boutiqueChoisie" multiple="false">
						  <ion-option *ngFor="let boutique of boutiquesList" [value] = "boutique.id_magasin">{{boutique.nom}}</ion-option>
						</ion-select>
					</ion-item>

				</ion-list>
				<br>
				<button ion-button (click)="demander()" color="primary">Demander</button>
				<br>
			</div>
			<br>
			<br>
			<div>
				<h4>Mes Coupons demandés </h4>
				<ion-list>
					<ion-item *ngFor="let couponD of mesCouponsDemandes">
						<ion-thumbnail item-left>
							<img src="{{couponD.image}}">
						</ion-thumbnail>
						<h2>{{ couponD.nom }}</h2>
					</ion-item>
				</ion-list>
			</div>
		</ion-list>

	</div>
</ion-content>
